body {
  margin: 0;
  font-family: Georgia, serif;
  background: #c79d8b;
  color: #2e2e2e;
  text-align: center;
}

nav {
  background: #fff;
  padding: 10px 0;
}

nav a {
  color: #4b2e20;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #a15c38;
  border-bottom: 2px solid #a15c38;
}

main {
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
}

img {
  width: 60%;
  border-radius: 10px;
  margin-top: 20px;
}